body{
    margin: 0;
    font-family: helvetica;
}

h1{
     font-weight: 100;
}

#logo {
    height: 65px;
    width: 170px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}